    html{
    scroll-behavior: smooth;
    }


@media (max-width: 600px) {
    * {
        font-size: 2vw;
        padding: 0px;
        margin: 2px;
    }
}
* {
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
    
}

body {
    background-image: url('assets/bg.jpg');
    background-size: cover; 
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding: 0%;
}

.main-header {
    background-image: linear-gradient(rgb(197, 141, 137), rgb(252, 232, 204));
    /* background-color:rgb(245, 235, 220); */
    /* padding-top: 3px; */
    /* padding-left: 10px;
    padding-bottom: 3px; */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 48px;
    /* display: flex;
    justify-content: center; */
}

.header-info {
    text-align: left;
    color:rgb(219, 84, 75);
    /* float: left;     */
    /* float left sama dg pake ini:*/
    position:absolute;
    left: 0; 
    padding: 0px;
    margin: 14px 14px 0px 14px ;
    

}
nav {
    /* margin-top: 3px; */
    /* float: right; */
    /* float right sama dg pake ini: */
    position:absolute;
    right: 0;
    display: flex;

}
  
a {
    padding: 15px;
    float:left;
    /* display: block; */
    /* background-color:rgb(151, 153, 153); */
    text-decoration: none;
    color: rgb(219, 84, 75);
}
  
a:hover {
    background-color: burlywood;
}

/* .jumbotron {
    margin-top: 100px;
} */

h1, h2 {
    text-align: center;
    padding: 5px;
    color:white;
    font-family: 'Playfair Display', sans-serif;
}

.title {
    font-style: italic;
}


h3, p {
    text-align: center;
    /* padding: 3px; */
    color: black;
    font-family: 'Assistant', sans-serif;
}

.header {
    text-align: center;
    /* padding: 5px; */
    color:white;
}

.title {
    /* box-shadow: 10px 10px 5px rgb(27, 134, 167); */
    color:white; 
    /* background-color:rgb(184, 119, 164); */
}

.center {
    margin-left:auto; 
    margin-right:auto; 
    display:block;
    width: 30%;
    height: 30%;
    border-radius: 20px;
    box-shadow: 0px 0px 80px gainsboro;
    
}

.items {
    display: flex; 
    justify-content:center;
    
}

.item {
    /* display: inline-block;  */
    margin: 10px;   
    background-color: gainsboro;
    display: flex; 
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    /* align-items: center; */
}

/* img.color { */
    /* border: 20px solid rgb(231, 133, 187); */
    /* box-shadow: 5px 10px 8px grey; */
    
/* } */

 img { 
    border-radius: 10px;
    margin: 1vw 1vw; 
 }

.portrait {
    /* max-width: 260px;
    max-height: 400px; */
    max-width: 100%;
    max-height: 100%;
}

.landscape {
    /* max-width: 300px;
    max-height: 200px; */
    max-width: 100%;
    max-height: 100%;
}

.table {
    /* max-height:120px;
    max-width: 200px; */
    max-width: 100%;
    max-height: 120px;
    min-width: 50px;
    min-height: auto;
    /* padding: 10px;    */
}

table, td, th {
    border: 2px solid rgb(219, 84, 75);
    border-collapse: collapse;
    margin-bottom: 50px;
    /* font-size: 25px; */
    font-family: 'Assistant', sans-serif;
}

table {
    width: 50%;
    background-color:rgb(245, 235, 220);   
}

th {
    text-align: center;
    height: 50px;
    background-color: rgb(219, 84, 75);
}

td {
    text-align: center;
    height: 30px;
    padding: 10px;
    color: black;
}

div.about {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: blanchedalmond;
    width: 80%; 
}

.about {
    text-align: left;
    color: black;
    padding: 10px;
    width: 100%;
}

img.about-us {
    max-width: 100%;
    max-height: 100%;
}

div.image-about {
    margin-bottom: auto;
    margin-top: auto;
}

footer {
    /* background-color:rgb(245, 235, 220); */
    background-image: linear-gradient(rgb(252, 232, 204), rgb(197, 141, 137));
}

.center-footer {
    margin-left: 20px;
    margin-right: 20px;
}
.main-footer { 
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-footer {
    margin-right: auto; 
    margin-left: 40px;
}

.right-footer {
    margin-left: auto;
    margin-right: 40px;
}

.info-left {
    color: black;
    text-align: left;
    width: 100%;
}

.info-right {
    color: black;
    text-align: right;
    width: 100%;
}
.info-center {
    color: black;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgb(146, 168, 133);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tab {
    background-color: gainsboro;
    width: 400px;
    padding: 40px;
    margin: 10px;
    border-radius: 20px;
}

h1.name {
    font-size: 27px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: black;
}

h2.price {
    font-size:60px ;
    color: black;
}

.list {
    list-style-type:disc;
    margin-bottom: 50px;
    text-align: left;
}

.list li {
    margin-top: 20px;
    color: black;
}

hr {
    height: 7px;
    width: 80%;
    margin: auto;
    background-color: rgb(219, 84, 75);
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}

button {
    font-size: 20pt;
    background-color: rgba(219, 85, 75, 0.616);
    border: none;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

button:hover {
    background-color: rgb(219, 85, 75);
    transform: scale(1.2, 1.2);
}

.fa-map-marked-alt, .fa-map-pin, .fa-address-book, .fa-phone-alt, .fa-instagram, .fa-envelope {
    margin: 6px;
    color: rgb(219, 85, 75);
}

.title-activity {
    display: block;
    padding: 3px;
    background-color: antiquewhite;
    margin:0px 20px;
}

.activity-flex {
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: antiquewhite;
    margin:30px 20px;
}

.activity-flex img {
    padding: 2px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    background-color: antiquewhite;
}

.dropdown-item:hover {
    background-color:whitesmoke ;
    cursor: pointer;
}

a.dropdown-item {
    min-width: 160px;
    text-align: left;
}

li.dropdown-item:hover a.dropdown-item {
    text-align: left;
    color: gainsboro;
}
 
.item {
    /* display: inline-block;  */
    margin: 10px;   
    background-color: gainsboro;
    display: flex; 
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    color: darkorchid;
    /* align-items: center; */
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif
}
body{
    background: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    width: 160px;
    height: 160px;
    /* background: cornflowerblue; */
    /* position: relative;
}
.outer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7),                                  
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgb(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0,.05);
}
#number{
    font-weight:600px;
    color:#555;
}
circle{
    fill: none;
    stroke: ;
} */ 

/* Kodingan Baru */
.skill{
    width: 160px;
    height: 160px;
    /* background: cornflowerblue; */
    position: relative;
}
.outer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    /* border: 1px solid red; */
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7)                                  
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}

#number{
    font-weight: 600px;
    color: #555
}
#number1{
    font-weight: 600px;
    color: #555;
}
#number2{
    font-weight: 600px;
    color: #555;
}
#number3{
    font-weight: 600px;
    color: #555;
}
#number4{
    font-weight: 600px;
    color: #555;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 200;
    animation: anim 2s linear forwards;
}
circle.a{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 200;
    animation: anim 2s linear forwards;
    
}
circle.b{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 200;
    animation: anim1 2s linear forwards;
    
}
circle.c{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 200;
    animation: anim2 2s linear forwards;
    
}

circle.d{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 200;
    animation: anim3 2s linear forwards;
    
}
circle.e{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 200;
    animation: anim4 2s linear forwards;
    
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
}
@keyframes anim1{
    100%{
        stroke-dashoffset: 141;
    }
}
@keyframes anim2{
    100%{
        stroke-dashoffset: 118;
    }
}
@keyframes anim3{
    100%{
        stroke-dashoffset: 70;
    }
}
@keyframes anim4{
    100%{
        stroke-dashoffset: 47;
    }
}